<!DOCTYPE HTML>
<html>
	<head>
		<title>Alpha AI Playground</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="./static/images/alpha_logo.png" alt="" /></span><span class="title">Alpha CRC</span>
								</a>
						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>AI Playground</h1>
                                <p>Choose from the modules below to experience various tools with AI integration at Alpha</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="./static/images/promptTool.png" alt="" />
									</span>
									<a href="generic.html">
										<h2>Prompt Tool</h2>
										<div class="content">
											<p>PROMPT TOOL<br>
											This AI powered tool allows you to utilize the power of prompts</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="./static/images/supportAssistant.png" alt="" />
									</span>
									<a href="generic.html">
										<h2>Support Assistant</h2>
										<div class="content">
											<p>SUPPORT ASSISTANT<br>
											Interactive support chat assistant powered by AI</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Alpha CRC. All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/js/jquery.min.js"></script>
			<script src="./static/js/browser.min.js"></script>
			<script src="./static/js/breakpoints.min.js"></script>
			<script src="./static/js/util.js"></script>
			<script src="./static/js/main.js"></script>

	</body>
</html>